doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/main.css" type="text/css")
        script(src="/js/post.js" defer)
        script(src="/js/logout.js" defer)
        title Z: post
    body
        include navbar
        h1 Make a post!
        div#new-post-container
            label(for="new-post-content") What do you want to Share?  
            textarea#new-post-content(name="new-post-content" cols="80" rows="10" placeholder="less than 200 characters")
            button(id="new-post-button") Create Post!
