nav
    ul.nav-bar 
        img(src="/images/zIcon.png", alt="black Z icon for the website")
        li
            a(href="http://localhost:4131/") View Posts
        li
            a(href="http://localhost:4131/make") Make a Post
        li#login-link 
            a(href="http://localhost:4131/login") Login
        li#logout-container(style='display: none;')
             a#logout-link(href="#") Logout

